body{
    background-color: rgb(87, 87, 158);
}
label{
    color: #ffffff;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
legend{
    color: #ffffff;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: #ffffff;
}