body{
    background-image: url("barbie.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: aliceblue;
    margin-top: 40px;
    text-align: center;
    border: 1px solid rgb(252, 103, 185);
    background: rgba(252, 103, 185, 0.493);
}
h2{
    color: aliceblue;
    margin-top: 40px;
    text-align: center;
    border: 1px solid rgb(252, 103, 185);
    background: rgba(252, 103, 185, 0.5);
}
h3{ color: aliceblue;
    background: rgb(180,58,165);
    background: linear-gradient(284deg, rgba(180,58,165,0) 0%, rgba(253,29,169,0.4290091036414566) 50%, rgba(252,69,214,1) 100%);
    
}
